.NavOfType {
    /* margin-top: 35px; */
    margin-bottom: 10%;
    margin-left: 15px;
    /* width: 100px; */
    /* font-size: large; */
    text-align: center;
    border-bottom: solid 1px rgba(216, 112, 147, 0.575);
    display: block;
    font-size: x-large;
    font-weight: 600;
    font-family: cursive;
    font-style: italic;
    font-variant-caps: all-small-caps
}

.NavOfType:hover{
    border-bottom: solid 3px rgb(216, 112, 147);

}
